
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Estados </h2>
<div class="row">
    <div class="col-12">
        <a href="/estado/cadastro" class="btn btn-primary float-right mb-3"> Novo Estado
        </a>
    </div>
</div>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Ação</th>

        </tr>
    </tfoot>
    <tbody>
        @foreach (Model.Estado estado in ViewBag.Estados)
        {
            <tr>
                <td>@estado.Id</td>
                <td>@estado.Nome</td>
                <td>@estado.Sigla</td>
                <td>
                    <a href="/estado/editar?id=@estado.Id" class="btn btn-primary"> Editar
                    </a>
                    <a href="/estado/apagar?id=@estado.Id" class="btn btn-danger"> Apagar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

